html,body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: arial,sans-serif;
    font-size: 13px;
    height: 100%;
    width: 100%;
    margin: 0;
}
.navbar{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    opacity: 75%;
} 
.left-nav{
    line-height: 38px;
    float:left;
    word-spacing: 12px;
    clear: none;
}
.right-nav{
    float:right;
    word-spacing: 12px;
    clear: none;
}
.logo {
    display: block;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    width: 272px;
}
.searchbar {
    width: 36.5%;
    margin-top: 30px;
    border: 1px solid #cbced4;
    border-radius: 25px;
    padding: 15px;
    outline: none;
    padding-left: 40px;
    font-size: 14px;
    margin-left: 30%;
}
.searchbar:hover{
    box-shadow: 1px 1px 8px #cbced4;
    border: none;
}
.searchicon{
    height: 22px;
    width: 22px;
    position: absolute;
    top: 37.8%;
    left: 30.75%;
}
.voice{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 37.5%;
    left: 67.75%;
}
.buttonarea {
    position: absolute;
    top: 44%;
    left: 39.5%;

}
.signin {
    background-color:rgb(58, 141, 236);
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #ffffff;
    font-family: arial,sans-serif;
    font-size: 12px;
    padding: 10px 16px;
    font-weight: bold;
    vertical-align: middle;
}
.buttons {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 5px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none
  }
a:link {
    text-decoration: none;
    color: black;
  }
  
a:visited {
    text-decoration: none;
    color: black;

  }
  
a:hover {
    text-decoration: none;
    color: black;

  }
  
a:active {
    text-decoration: none;
    color: black;

  }

li{
    display:inline;
    list-style: none;
}
.bottom-left{
    float: left;
    position: fixed;
    bottom: 0;
    left: -12px;
    word-spacing: 22px;
    opacity: 75%;

}
.bottom-right{
    float: right;
    position: fixed;
    bottom: 0;
    right: 2%;
    word-spacing: 22px;
    opacity: 75%;
}
.wrapper{
    opacity: 75%;
    display: flex;
    position: fixed;
    bottom:-1px;
    left: -5px;
    height: 40px;
    width: 125%;
    border: 1px solid rgb(207, 207, 207);
    background-color: #e6e6e6;
}