body{
    font-family: arial,sans-serif;
    font-size: 13px;
}
.navbar{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.25%;
    opacity: 75%;
} 
.left-nav{
    line-height: 38px;
    float:left;
    word-spacing: 12px;
    clear: none;
}
.right-nav{
    float:right;
    word-spacing: 12px;
    clear: none;
}
.logo {
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
}
.searchbox {
    width: 33%;
    margin-left: 32%;
    margin-top: 20px;
}
.searchbar {
    width: 100%;
    border: 1px solid #cbced4;
    border-radius: 25px;
    padding: 15px;
    outline: none;
    padding-left: 40px;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}
.buttonarea {
    display:flex;
    justify-content: center;
}
.signin {
    background-color:rgb(58, 141, 236);
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #ffffff;
    font-family: arial,sans-serif;
    font-size: 12px;
    padding: 10px 16px;
    font-weight: bold;
    vertical-align: middle;
}
.buttons {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 5px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none
  }
a:link {
    text-decoration: none;
    color: black;
  }
  
a:visited {
    text-decoration: none;
    color: black;

  }
  
a:hover {
    text-decoration: none;
    color: black;

  }
  
a:active {
    text-decoration: none;
    color: black;

  }